.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
